// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3{
  margin :20px;
}
.title{
  text-align:center;
}

.list-wrap{
  display:block
}
.book{
  margin:10px 20px;
}
.create-box{
  margin:0 20px;
}
.parent{
  margin:20px;
  display:flex;
}
.box{
  display:flex;
  flex-direction:column;
  margin:0px 10px 0px 0px;
}
.edit{
  margin:40px;
  display:flex;
  flex-wrap:wrap;
}
.edit2{
  margin:20px;
  display:flex;
  flex-wrap:wrap;
}
ul{
  list-style-type:none;
  margin:15px;
}
li{
  display:inline-block;
  text-align:center;
  width:50px;
}
li + li {
  border-left:1px solid #000;
}